<html>
<head>
<style>
    body {
        text-align : center;
        margin-top : 50px;
        font-size : 30px;
        background-color : aquamarine;
    }
    h1 {
        color : salmon;
    }
    h5 {
        color: lavender;
    }
    input[type = "submit"] {
        background-color : turquoise;
        color: whitesmoke;
        margin: 4px;
    }
    footer {
        position : sticky;
        background-color: teal;
    }
</style>
</head>

<!--##NO predefine-->
<body>
    <h1>Advance Calculator!</h1>  <br>
    <img width="20%" height="20%" src="{{url_for('static', filename='img.png') }} " />
    <br><br>
    <form method="POST">
        <label >Enter expression</label><br><br>
        <select class="is-focused is-large" name="operation" aria-label="operationDropdown">
            <option>Choose operation</option>
            <option value="simplify">Simplify</option>
            <option value="factor">Factor</option>
        </select>
    <input placeholder="Expression" name="text">
    <input type="submit">
</form>


    <p>Your equation is {{equation}} = {{ result }}</p>
    <br><br><br>
    <footer><h4>Created by - Vanya Goyal</h4></footer>
</body>
</html>
